*{
   box-sizing: border-box;
}
body{
   padding: 15px;
}
.hidd{
   display: none;
}
.tac{
   text-align: center;
}
.df{
   display: flex;
}
.jcsb{
   justify-content: space-between;
}
.jcc{
   justify-content: center;
}
.btn{
   width: 7rem;
}

h2{
   font-size: 1.5rem;
}

.startScreen h1{
   font-size: 2rem;
   margin-top: 40vh;
}
.logoSpan{
   color: olive;
}
.card_item{
   margin-top: 25vh;
   width: 100%;
}
.card{
   min-width: 72%;
}
.btn_red{
   background: rgb(255, 0, 64);
}
.btn_red:hover{
   background: rgb(253, 40, 93);
}